<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sala de juegos</title>
    <!-- <link rel="stylesheet" href="style2.css"> -->
</head>
<body>
    <main>
        <div class="row">
            <div class="colm-form">
                <div class="form-container">
                    <input type="text" placeholder="Nombre" [(ngModel)]="this.usuario.nombre">
                    <input type="text" placeholder="email" [(ngModel)]="this.usuario.email">
                    <input type="password" placeholder="Password" [(ngModel)]="this.usuario.clave">
                    
                    <button class="btn-new" (click)="register()">Registrarse</button>
                </div>
                <div>
                    <p>{{this.mensaje}}</p>
                </div>
                <!--<p><a href="#"><b>Create a Page</b></a> for a celebrity, brand or business.</p>-->
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>