<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook-Login or Sign up</title>
    <!-- <link rel="stylesheet" href="style2.css"> -->
</head>
<body>
    <main>
        <div class="row">
            <div class="colm-form">
                <div class="form-container">
                    <input type="text" placeholder="Nombre" >
                    <input type="password" placeholder="Password">
                    <button class="btn-login">Login</button>
                    <!--<button class="btn-new">Create new Account</button>-->
                </div>
                <!--<p><a href="#"><b>Create a Page</b></a> for a celebrity, brand or business.</p>-->
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>